<section class="bg-base-200 flex-1">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 sm:py-24" data-controller="tabs" data-tabs-active-value="monthly">
    <div class="text-center mb-12">
      <h1 class="text-4xl font-semibold text-base-content mb-4">Simple, Transparent Pricing</h1>
      <p class="text-lg text-base-500 max-w-2xl mx-auto">Choose the plan that's right for you</p>
    </div>

    <%= render "plans/pricing_cards" %>
  </div>
</section>
